.SocialMedia{
  width: 295px;
  margin: 0px 0px 0px 13px;
  margin-top: -169px;
  border-top: solid 1px #E3E3E4;
  height: 160px;
}

.SocialMedia-LinksWrapper{
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0px 41px 0px;
}

.Dline{
  position: absolute;
  width: 4px;
  height: 70px;
  left: 100px;
  top: 539px;
  background: #4066A5;
}

.Facebook {
  background-image: url("./images/ic_facebook.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 2px solid #E2E3E4;
  top: 791px;
  left:219px;
  transition: 0.2s;
}

.Facebook:hover {
  border: 2px solid #4267B2;
  background: #4267B2;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  background-image: url("./images/ic_facebook_hover.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}

.Facebook:active {
  border: 2px solid #2F4A80;
  background: #2F4A80;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  background-image: url("./images/ic_facebook_hover.png");
  background-repeat: no-repeat;
  background-position: center;
}

.Instagram {
  background-image: url("./images/ic_instagram.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 2px solid #E2E3E4;
  left: 284px;
  top: 791px;
  transition: 0.2s;
}

.Instagram:hover {
  border: 2px solid #C13584;
  background: #C13584;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  background-image: url("./images/ic_instagram_hover.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}

.Instagram:active {
  border: 2px solid #8F2762;
  background: #8F2762;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  background-image: url("./images/ic_instagram_hover.png");
  background-repeat: no-repeat;
  background-position: center;
}

.Twitter {
  background-image: url("./images/ic_twitter.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 2px solid #E2E3E4;
  left: 350px;
  top: 791px;
  transition: 0.2s;
}

.Twitter:hover {
  border: 2px solid #1DA1F2;
  background: #1DA1F2;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  background-image: url("./images/ic_twitter_hover.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}

.Twitter:active {
  border: 2px solid #177FBF;
  background: #177FBF;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  background-image: url("./images/ic_twitter_hover.png");
  background-repeat: no-repeat;
  background-position: center;
}

.Youtube {
  background-image: url("./images/ic_youtube.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 2px solid #E2E3E4;
  left: 416px;
  top: 791px;
  transition: 0.2s;
}

.Youtube:hover {
  border: 2px solid #FF0000;
  background: #FF0000;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  background-image: url("./images/ic_youtube_hover.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}

.Youtube:active {
  border: 2px solid #CC0000;
  background: #CC0000;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  background-image: url("./images/ic_youtube_hover.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 768px){

  .SocialMedia{
    width: calc(100% - 280px);
    margin: 0 140px 0;
    margin-top: 49px;
    border-top: solid 1px #E3E3E4;
    height: 160px;
  }

  .SocialMedia-LinksWrapper{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0px 78px 0;
  }
}
