.logo{
  position: absolute;
  width: 25px;
  height: 40px;
  left: 100px;
  top: 100px;
}

.logotxt{
  position: absolute;
  width: 78px;
  height: 16px;
  left: 140px;
  top: 120px;
}

.links{
position: absolute;
width: 42px;
height: 26px;
left: 331px;
top: 114px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
}

.heading{
position: absolute;
width: 399px;
height: 44px;
left: 140px;
top: 374px;
font-family: Georgia;
color: #131821;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 44px;
}

.subheading{
position: absolute;
width: 400px;
height: 56px;
left: 140px;
top: 433px;
font-family: Arial;
color: #6A707B;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
}

.line{
position: absolute;
width: 4px;
height: 70px;
left: 100px;
top: 539px;
background: #4066A5;
}

.box{
position: absolute;
width: 663px;
height: 70px;
left: 100px;
top: 539px;
background: #FFFFFF;
border: 1px solid #E3E3E4;
box-sizing: border-box;
}

.arrow{
  position: absolute;
  width: 24px;
  height: 14px;
  left: 699px;
  top: 567px;
  background: #131821;
}

.checkbox{
  position: absolute;
  width: 26px;
  height: 26px;
  left: 140px;
  top: 662px;
  background: #4066A5;
  border-radius: 3px;
}

.checkmark{
  position: absolute;
  width: 14px;
  height: 11px;
  left: 146px;
  top: 670px;
}

.agree{
position: absolute;
width: 359px;
height: 28px;
left: 181px;
top: 663px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #6A707B;
}

.line{
position: absolute;
width: 400px;
height: 1px;
left: 140px;
top: 740px;
background: #E3E3E4;
}

.circleBase {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  border: 2px solid #E2E3E4;
  top: 790px;
}

.IconBase {
  top: 790px;
}


.facebook {
    left: 217px;
}

.Ficon{
left: 12.34%;
right: 87.24%;
bottom: 23.89%;
background: #131821;
opacity: 0.3;
}

.instagram {
    left: 283px;
}

.Iicon{
  position: absolute;
  left: 15.57%;
  right: 83.59%;
  bottom: 23.89%;
  background: #131821;
  opacity: 0.3;
}

.twitter {
    left: 349px;
}

.Ticon{
  position: absolute;
  left: 19.01%;
  right: 80.16%;
  bottom: 23.98%;
  background: #131821;
  opacity: 0.3;
}

.youtube {
    left: 415px;
}

.Yicon{
  position: absolute;
  left: 22.45%;
  right: 76.72%;
  bottom: 24.17%;
  background: #131821;
  opacity: 0.3;
}
