.PageContent {
  display: flex;
  height: 100vh;
  width: 100vw;
  min-height: 650px;
}

.Left {
  positon: absolute
  display: block;
  background-color: black;
  width: 680px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
  height: 1080px;
  margin: 0;
  position: relative;
  z-index: 1;
  left: 0px;
  top: 0px;
}

.Right {
  positon: absolute;
  height: 100vh;
  overflow: hidden;
  width: 1620px;
  height: 1080px;
  top: 0px;
}
